{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Code Helper</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 
 <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link REL=StyleSheet HREF="{% static "helperProfile.css" %}" TYPE="text/css" />

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout </a>
      </li>
      </ul>
      
  </div>
</nav>
<style type="text/css">
 
 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.custom{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div  id="headshot"class="quickFade">
      <!--<img src="{% static 'usericon.png' %}" alt="Alan Smith" />
    -->
    <img src="{{ image_url }}" class="img-responsive img-circle margin" alt="Alan Smith" width="260" height="260"/>
    </div>

    
    <div id="name">
      <h1 class="quickFade delayTwo">{{fname}}  {{lname}}</h1>
     
    </div>
    
    
    <div class="clear"></div>
  </div>
  <form method="post" action="/editprofile/" enctype="multipart/form-data">
  {% csrf_token %}
    <div id="mainArea" class="quickFade delayFive">
      <section>
        <article>
          <div class="sectionTitle">
            <h1>Personal Details Here</h1>
          </div>
          
          <div class="sectionContent">
          
          <textarea  rows="5" class="form-control" name="personal_details" >{{ personal_details }} </textarea>
          
          </div>
        </article>
        <div class="clear"></div>
      </section>
      
       
      <section>
        <div class="sectionTitle">
          <h1>Phone Number</h1>
        </div>
        
        <div class="sectionContent">
          <div class="custom">
          
              <label for="fname">Phone Number</label>
              <input type="text" id="fname" name="phone" value={{ phone }}>

              <label for="lname">Github Link</label>
              <input type="text" id="lname" name="github_link" value={{ github_link }}>
              <br>
              <br>
              
              <br>
              <br>

              
        
      </div>
          
          
        </div>
        <div class="clear"></div>
      </section>
      
      <section>
        <div class="sectionTitle">
          <h1>Profile Picture</h1>
        </div>
        
        <div class="sectionContent">
         <label class="custom-file-upload">
         <input id="image" type="file" name="image"  size="60"> 
         </label>
         <img src="{{ image_url }}" class="img-responsive img-circle margin" alt="Alan Smith" width="260" height="260"/>    
            
        </div>
        <div class="clear"></div>
      </section>
      
      <section>
        <div class="sectionTitle">
          <h1>Submit Changes</h1>
        </div>
        
        <div class="sectionContent">
            
            <input type="submit" value="Submit">
        </div>
        <div class="clear"></div>
      </section>
      
      
      
      <!--
      <section>
        <div class="sectionTitle">
          <h1>Education</h1>
        </div>
        
        <div class="sectionContent">
          <article>
            <h2>College/University</h2>
            <p class="subDetails">Qualification</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
          </article>
          
          <article>
            <h2>College/University</h2>
            <p class="subDetails">Qualification</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>
      -->
    </div>
  </form>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<footer class="text-center" style="margin-top: 10px">
  
  <p style="color: white;font-size: 20px"> <strong>Under Developement by Rudresh Panchal and Nimit Parekh</strong></p>
  
</footer>
</br>
</br>
</body>
</html>