{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    
    <h3 style="color: red">You are not permitted to view this message.</h1>
    <br>
    <br>
    <a type="button" class="btn btn-lg btn-default" href=/login><span class="glyphicon glyphicon-flash"></span>Try Login Again</a>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="container">
  
<footer class="text-center" style="margin-top: 10px">
  
  <p style="color: black;font-size: 20px"> <strong>Under Developement by Rudresh Panchal and Nimit Parekh</strong></p>
</footer>
</br>
</br>

</div>
{% endblock %}
